@charset "UTF-8";

body {
	background-color: antiquewhite;
	background-image: url("http://www.tuquu.com/UploadFiles/2014-12/0/2014120615262913955.jpg");
	background-size: cover;
	color: white;
}

p {
	color: red;
	text-indent: 50px;
	font-family: 'Courier New', Courier, monospace;
}

h1,
h2,
h3 {
	color: pink;
	padding-top: 1em;
	/* visibility: visible;
	display: none; */
}

h3.hidden {
	visibility: hidden;
}

#clickMeContent {
	background-color: darkcyan;
	color: aliceblue;
	font-size: 30px;
	text-align: center;
	border-width: 2px;
	border-color: yellowgreen;
	border-top-style: dotted;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
}
